<foote class="footer">
 <div class="container footer-wrapper">
    <a class="footer-logo" href="">
    <span class="footer-logo__first-part">Brit</span
    ><span class="footer-logo__second-part">lex</span>
  </a>
  <ul class="policy-list">
    <li class="policy-list__item"><a class="policy-list__link" href="">Terms and Conditions</a></li>
    <li class="policy-list__item"><a class="policy-list__link" href="">Privacy Policy</a></li>
    <li class="policy-list__item"><a class="policy-list__link" href="">Cookie Policy</a></li>
  </ul>
  <a href="bla bla"></a>

</div>
</footer>

