<header class="header">
    <div class="container header__container">
        <a class="logo" href="">Brit
        <span class="logo--span">lex</span></a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="">Home</a></li>
                <li class="nav__item"><a class="nav__link" href="">Skills</a></li>
                <li class="nav__item"><a class="nav__link" href="">About Us</a></li>
                <li class="nav__item"><a class="nav__link" href="">Pricing</a></li>
                <li class="nav__item"><a class="nav__link" href="">Contacts</a></li>
            </ul>
        </nav>
        <button class="header__btn" type="button">Let’s Talk</button>

        <button class="mobile_header__btn" type="button" aria-label="кнопка відкриття меню" aria-expanded="false">
            <svg class="mobile_header__btn__icon" width="33" height="11">
                <use class="mobile_header__btn__open"></use>
                <use class="mobile_header__btn__close"></use>
            </svg>
        </button>
    </div>
</header>