<section class="section hero">
  <div class="containet">
    <img
      src="/images/Learning_languages.png"
      alt="girl Learning languages"
      class="hero__pic"
      width="299"
      height="299"
    />
    <div class="hero__thumb">
      <h1 class="hero__title">Learn Any Foreign Language</h1>
      <p class="hero__subtitle">
        With our teachers who write a program for each student, you will be able to make your first
        sketch after the first lesson.
      </p>
      <button class="hero__btn" type="button">Get started</button>
    </div>
  </div>
</section>
