<section class="section hero">
  <div class="containet">
    <div class="hero__thumb">
      <picture>
        <!-- <source
          srcset="/images/Learning_languages-ds 1x"
          media="(min-width: 1200px)"
          type="image/jpeg"
        /> -->

        <source
          srcset="/images/Learning_languages-tb.png 1x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />

        <img
          src="/images/Learning_languages.png"
          alt="girl Learning languages"
          class="hero__pic"
          width="299"
          height="299"
        />
      </picture>

      <h1 class="hero__title">Learn Any Foreign Language</h1>
      <p class="hero__subtitle">
        With our teachers who write a program for each student, you will be able to make your first
        sketch after the first lesson.
      </p>
      <button class="hero__btn" type="button">Get started</button>
    </div>
  </div>
</section>
