<section class="pricing">
    <div class="container">
        <h2 class="pricing__title">Pricing</h2>
        <ul class="pricing__list">
            <li class="pricing__item"><svg class="pricing__icon" width="248" height="248">
                    <use href="./images/icons.svg#pricing-1"></use>
                </svg>
                <h3 class="pricing__subtitle">Self-study online course</h3>
                <p class="pricing__text">Start learning English online in live classes with qualified EC teachers and
                    students from all over the world.</p><button type="button">£5.99<span>per month</span></button>
            </li>
            <li class="pricing__item"><svg class="pricing__icon" width="248" height="248">
                    <use href="./images/icons.svg#pricing-2"></use>
                </svg>
                <h3 class="pricing__subtitle">Live online classes</h3>
                <p class="pricing__text">Interactive group classes with expert teachers. Free 7-day trial</p><button
                    type="button">£12.99<span>per month</span></button>
            </li>
            <li class="pricing__item"><svg class="pricing__icon" width="248" height="248">
                    <use href="./images/icons.svg#pricing-3"></use>
                </svg>
                <h3 class="pricing__subtitle">Personal Tuition</h3>
                <p class="pricing__text">Online one-to-one English tutoring – enjoy our first session for only $1</p>
                <button type="button">£12.99<span>per month</span></button>
            </li>
        </ul>
    </div>
</section>