<section class="skills sections">
    <div class="container">
        <h2 class="skills__title">Skills</h2>
        <ul class="skills__list">
            <li class="skills__item">
                <svg class="skills__icon" width="213" height="213">
                    <use href="./images/icons.svg#skills-1"></use>
                </svg>
                <h3 class="after-title">Speaking</h3>
                <p class="text">Improve your English skills and confidence. Live classes and interactive lessons online.
                    20% extra free for
                    a limited time only

                    Learn English online and improve your
                    skills through our high-quality courses and resources – all designed for adult language learners.
                </p>
                <button class="btn" type="button">Learn more</button>
            </li>
            <li class="skills__item">
                <svg class="skills__icon" width="204" height="204">
                    <use href="./images/icons.svg#skills-2"></use>
                </svg>
                <h3 class="after-title">Writing</h3>
                <p class="text">One of the most important and extensive areas of natural science,
                    the science that studies substances, also their
                    composition</p>
                <button class="btn" type="button">Learn more</button>
            </li>
            <li class="skills__item">
                <svg class="skills__icon" width="236" height="157">
                    <use href="./images/icons.svg#skills-3"></use>
                </svg>
                <h3 class="after-title">Reading</h3>
                <p class="text">Rerception and response actions
                    of the user resulting from the use and
                    or up coming use of the product,
                    system or service</p>
                <button class="btn" type="button">Learn more</button>
            </li>
            <li class="skills__item">
                <svg class="skills__icon" width="232" height="154">
                    <use href="./images/icons.svg#skills-4"></use>
                </svg>
                <h3 class="after-title">Listening</h3>
                <p class="text">Here you can find activities to practise your listening skills.
                    Listening will help you to improve your understanding</p>
                <button class="btn" type="button">Learn more</button>
            </li>
        </ul>
    </div>
</section>